@font-face 
    font-family: 'RioGrande'
    src: url('/assets/font/RioGrande.ttf')
    
$bannerHeader: url('/assets/img/header/country-cowboy-boots-illustration.jpg')

$bodyBackground: #181816
$mainBackground: #F5F1E9
$accentClr: #594963
$linkClr: #181816
$mainClr: #181818

$mainFont: 'Baskervville'
$accentFont: 'Baskervville SC'
$titleFont: 'RioGrande'