@use "assets/style/var" as *

* 
    box-sizing: border-box
    margin: 0
    padding: 0

html
    font-size: 14px

body
    background-color: $bodyBackground
    font-family: $mainFont
    color: $mainClr

app-root
    display: flex
    flex-direction: column
    min-height: 100vh;

main
    flex-grow: 1
    position: relative
    width: 1380px
    margin: -80px auto 0 auto
    border-radius: 16px
    background: $mainBackground url('/assets/img/home/logo-background.png') no-repeat
    background-position: center
    padding: 20px