@use "assets/style/var" as *

* 
    box-sizing: border-box
    margin: 0
    padding: 0

body
    background-color: $bodyBackground
    font-family: $mainFont
    font-size: 15px
    color: $mainClr

h1
    font-family: $titleFont
    font-size: 38px
    font-weight: normal
    color: $mainBackground